<section class="home">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="STARZ" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png"/>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        STARZ website boilerplate!
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've created a new STARZ website.</h2>
    <p>Now that you have this running you need to make some changes for this specific project.</p>
    <ul>
      <li>Edit the /config/env/default.js file. Replace:
        <ul>
          <li>app.title</li>
          <li>app.description</li>
          <li>app.keywords</li>
          <li>app.googleAnalyticsTrackingID</li>
          <li>sessionSecret</li>
          <li>mailer.from</li>
          <li>mailer.sendgrid.templates - go to SendGrid and create new forgot/reset email templates.</li>
        </ul>
      </li>
      <li>Edit the /config/env/development|production.js file, replace:
        <ul>
          <li>
            db.uri - replace db name with short-name-dev (or short-name). E.g. media-room-dev|media-room
          </li>
        </ul>
      </li>
      <li>
        Edit the /package.json, replace:
        <ul>
          <li>name</li>
          <li>description</li>
          <li>repository.url</li>
        </ul>
      </li>
      <li>
        Edit the /bower.json, replace:
        <ul>
          <li>name - should match package.json</li>
          <li>description - should match package.json</li>
        </ul>
      </li>
      <li>
        Edit the /modules/core/client/app/config.js, replace "mean" with your application short-name. E.g. media-room
      </li>
    </ul>
  </div>


</section>
