@import '_colors';

.dropdown-menu {
  background: $dark-gray;
}

.jumbotron {
  padding: 10px;
}

.navbar-inverse {
  @include dark-gradient();
  .navbar-toggle {
    border: none;
  }

  a {
    color: $light-gray-text;
    text-decoration: none;
    white-space: nowrap;
    background: -webkit-linear-gradient($white, lighten($black, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


