@import '_screens';
@import '_colors';
@import '_mixins';

.navbar {
  padding: 20px 0 3px;
  @include dark-gradient();
  border-bottom: 2px solid $border-color;
}

.top-nav {
  align-items: stretch;
  display: flex;
  min-width: 154px;

  @media (min-width: $screen-md) {
    float: left;
  }

  .brand {
    flex: 1 1 auto;
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
    }

    & > * {
      margin-left: -48px; /* this offsets the hamburger menu */
      @media (min-width: $screen-md) {
        margin-left: 0;
      }
    }
    img {
      width: 134px;
    }
  }

  .hamburger {
    align-self: flex-start;
    flex: 0 0 auto;
    @media (min-width: $screen-md) {
      display: none;
    }
  }

  .header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .open .header-profile-image,
  a:hover .header-profile-image {
    opacity: 1;
  }

  .user-header-dropdown-toggle {
    padding-top: 11px;
    padding-bottom: 11px;
  }

}

.main-nav {
  align-items: stretch;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: auto;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: all 1s;

  &.collapse {
  }

  &.open {
    max-height: 1000px;
    overflow: visible;
  }

  @media (min-width: $screen-md) {
    flex-direction: row;
    max-height: 1000px;
    overflow: visible;
  }

  .menu-items {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;

    & > * {
      padding: 5px 15px;
    }

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  a {
    font-size: 1.8rem;
    font-weight: 500;
    color: $light-gray-text;

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-nav {
    margin: 7.5px -5px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

  }
  .user {
    align-self: flex-end;
    width: 100%;
    @media (min-width: $screen-md) {
      width: auto;
    }

    a {
      font-size: 1rem;
    }
    .feedback {
      display: block;

    }
    .dropdown-menu {
      /* counteract the bs default .dropdown-menu styling */
      float: none;
      right: 0;

      li {
        text-align: center;
      }
    }
  }
}

.hamburger {
  background: none;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 16px;
  display: block;
  padding: 0;
  position: relative;

  @include breakpoint($screen-md) {
    height: 40px;
    width: 40px;
  }

  &.is-active {

    .hamburger-bar {
      background: transparent;
      transform: rotate(180deg);

      &:before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:after {
        transform: rotate(45deg);
        bottom: 0;
      }
    }

    .no-touchevents &:hover .hamburger-bar {
      background: transparent;
    }
  }

  .no-touchevents &:hover {
    .hamburger-bar {
      &,
      &:before,
      &:after {
        background: $white;
      }
    }
  }

  .hamburger-bar {
    @extend %bar;

    &:before {
      @extend %bar;
      content: "";
      top: -7px;
      @include breakpoint($screen-md) {
        top: -13px;
      }
    }

    &:after {
      @extend %bar;
      content: "";
      bottom: -7px;
      @include breakpoint($screen-md) {
        bottom: -13px;
      }
    }
  }
}

%bar {
  display: block;
  width: 100%;
  height: 2px;
  background: $light-gray-text;
  position: absolute;
  left: 0;
  transition: all 300ms ease-in;
  transform: rotate(0deg);
  backface-visibility: hidden;

  @include breakpoint($screen-md) {
    height: 3px;
  }
}

