$table-alt-color: #272727;

table {
  color: #aaa;
  table-layout: fixed;

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $table-alt-color;
  }

  tr[ng-click] {
    cursor: pointer;
  }

  th {
    width: 25%;
  }
  td {
    overflow: hidden;
  }
  .about {
    width: 40%;
  }
  .actions {
    text-align: center;
    width: 100px;
  }
  .loading {
    td {
      text-align: center;
    }
  }
}


