html {
  /* always use a scrollbar or otherwise content jumps */
  /* lets also try to make that scrollbar invisible so it doesn't suck too much... */
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  /* just incase */
  overflow-y: scroll; }
  html::-webkit-scrollbar {
    width: 0 !important; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 10rem;
  background: #070707 url("/modules/core/client/img/background-blur.jpg") no-repeat;
  background-size: 100% auto;
  color: #D1D3D4; }

.starz {
  text-transform: uppercase; }

.pusher {
  visibility: hidden; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.string-list:after {
  content: ','; }

.string-list:last-child:after {
  content: ''; }

.fade {
  opacity: 1; }
  .fade.ng-enter {
    -webkit-transition: 0.5s linear all;
            transition: 0.5s linear all;
    opacity: 0; }
  .fade.ng-enter.ng-enter-active {
    opacity: 1; }

.slide {
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
  overflow: hidden;
  max-height: 5000px; }
  .slide.ng-animate {
    -webkit-animation: none 0; }
  .slide.ng-enter {
    max-height: 0; }
  .slide.ng-enter.ng-enter-active {
    max-height: 5000px; }

li {
  opacity: 1; }

li.ng-enter {
  -webkit-transition: 1s;
          transition: 1s;
  opacity: 0; }

li.ng-enter-active {
  opacity: 1; }
