table {
  table-layout: fixed; }
  table th {
    width: 25%; }
  table td {
    overflow: hidden; }
  table .about {
    width: 40%; }
  table .actions {
    text-align: center;
    width: 100px; }
  table .loading td {
    text-align: center; }

.dark table {
  color: #aaa; }
  .dark table tr[ng-click] {
    cursor: pointer; }
  .dark table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #272727; }
